{% extends "Admin/ADMIN_INDEX.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="800" class="table table-hover table-active">
  <tr>
    <th scope="col">#</th>
    <th scope="col">STUDENT NAME</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">EMAIL</th>
    <th scope="col">PHONE</th>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;<img src="{{ i.photo }}" height="100" width="100"/> {{ i.name }}</td>
    <td>Place: {{ i.place }}<br> pin: {{ i.pin }}<br>District: {{ i.district }}</td>
    <td>&nbsp;{{ i.email }}</td>
    <td>&nbsp;{{ i.phone }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}